<main>
  <div class="form">
    <h1>welcome</h1>
    <img src="../../../favicon.ico" alt="Angular Icon" />
    <form action="#">
      <div class="emailForm">
        <label for="email"> Email </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="e.g johndoe@gmail.com"
        />
      </div>
      <div class="usernameForm">
        <label for="username"> Name </label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="e.g John August Doe"
        />
      </div>
      <div class="passwordForm">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="buttonSubmit">
        <input type="submit" value="log in" />
      </div>
    </form>
  </div>
</main>
