<main>
  <div class="leftSide">
    <h1>Welcome Back!</h1>
    <p>Don't have an account?</p>
    <button>sign up</button>
  </div>
  <div class="rightSide">
    <h2>login</h2>
    <form action="#">
      <div class="email">
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="e.g johndoe@gmail.com"
        />
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="e.g johndoe123"
        />
      </div>
      <div class="button">
        <button>LOGIN</button>
      </div>
    </form>
  </div>
</main>
